.level-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding: 50px 20px 125px;
}

body{
  text-align: center;
}

.box{
  width: 200px;
  height: 200px;
  margin: 5px 40px;
  border-width:1rem;
  border-color:black;
  border-radius: 50px;
}

.center-btn{
  width:75px;
  height:75px;
  border-radius: 50%;
  background-color: grey;
  border-width: 13px;
  border-color: black;
}

.red{
  background-color: #DD4124;
}

.blue{
  background-color: #34568b;
}

.green{
  background-color: #009B77;
}

.yellow{
  background-color: #F5DF4D;
}

.game-over{
  background-color: red;
}

.hidden{
  visibility: hidden;
}

.score{
  display: inline-block;
  font-family: monospace;
  color: grey;
  font-size: 75px;
  padding-top: 50px;
  visibility: hidden;
}

.boldFont{
  font-weight: bolder;
  text-align: left;
  margin: 0;
  padding: 0;
}

.rule{
  font-family: 'EB Garamond', serif;
  color: black;
  font-size: 18px;
  text-align: left;
}

footer{
  padding-top: 50px;
}

.footer-icon{
  font-size: 50px;
  margin: 20px;
}

@media (min-width:768px){
    .level-title{
      font-size: 20px;
      padding: 10px 20px 30px;
    }

    .score{
      padding-top: 25px;
      font-size: 30px;
    }

    .box{
      width: 150px;
      height: 150px;
      margin: 5px 30px;
      border-width:1rem;
    }

    .center-btn{
      width:75px;
      height:75px;
      border-radius: 50%;
      border-width: 13px;
    }

    footer{
      padding-top: 30px;
    }
  }
