.level-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding: 50px 20px 125px;
}

body{
  text-align: center;
}

.box{
  width: 200px;
  height: 200px;
  margin: 5px 40px;
  border-width:1rem;
  border-color:black;
  border-radius: 50px;
}

.center-btn{
  width:75px;
  height:75px;
  border-radius: 50%;
  background-color: grey;
  border-width: 13px;
  border-color: black;
}

.red{
  background-color: #DD4124;
}

.blue{
  background-color: #34568b;
}

.green{
  background-color: #009B77;
}

.yellow{
  background-color: #F5DF4D;
}

.game-over{
  background-color: red;
}

.hidden{
  visibility: hidden;
}

.score{
  display: inline-block;
  font-family: monospace;
  color: grey;
  font-size: 75px;
  padding-top: 50px;
  visibility: hidden;
}

.rule{
  font-family: monospace;
  color: black;
  font-size: 20px;
  padding-top: 75px;
  text-align: left;
}

footer{
  padding-top: 50px;
}
